@import "../../style/variable";

.home-container{
	position: absolute;
	top: 100px;
	right: 0%;
	left: 0%;
	background: linear-gradient(248deg, $blue-2 0%, #1A253C 100%) 0% 0%;
	height: 364px;
	padding-bottom: 5rem;
    .home-container-1{
        margin-top: 3rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .heading-container{
            margin-bottom: 8rem;
        }
    }
	.home-container-1-heading{
		color: $white;
		font-size: 3.75rem;
		font-weight: normal;
		width: 20.875rem;
		margin: 0;
		line-height: 4.625rem;
	}
	.home-container-1-heading span{
		font-weight: bold;
	}
	.home-header{
		width: 43vw;
		// position: absolute;
		// top: 30%;
		// right: 10%;
		border-radius: 20px;
	}
	.home-container-1-heading span span{
		color: $blue-4;
	}
	.home-container-1-btn{
		margin-top: 2.5rem;
	}
	.home-container-2{
		padding: 5rem 11.875rem 5rem 11.875rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		background: $blue-6;
        .trusted-companies{
            margin-top: 3rem;
            align-self: flex-start;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .trusted-companies-grid{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .trusted-companies-img{
            width: 10vw;
            margin-right: 4vw;
        }
		h2{
			align-self: flex-start;
			font-size: 1.375rem;
			color: $blue-2;
			margin-bottom: 2rem;
		}
		.home-container-2-feature{
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			column-gap: 1.875rem;
			div{
				padding: 1.5rem 1.25rem 1.875rem 1.25rem;
				background-color: $white;
				box-shadow: 0px 3px 6px #557DA526;
				border-radius: 5px;
				h2{
					width: 10.75rem;
					color: $blue-4;
				}
				p{
					color: $blue-2;
				}
			}
		}
	}
}

@media screen and (max-width: 1024px){
	.home-container{
		height: 250px;
		.home-container-1{
			padding: 0 4rem;
			.heading-container{
				margin-bottom: 6rem;
			}
		}
		.home-container-1-heading{
			font-size: 3rem;
			line-height: 3.75rem;
		}
		.home-header{
			width: 50vw;
		}
		.home-container-2{
			padding: 5rem 4rem 2.5rem 4rem;
		}
		.trusted-companies-grid{
			width: 80vw;
		}
	}
}